html,body { font-size: 80%; font-family: arial, sans-serif; height: 100%; margin:0; padding:0;}
body { width: 80%; }
div#container { position: relative; height:auto !important; height: 100%; min-height: 80%; margin-left: 50px; margin-top: 0; padding-bottom: 90px;}
label { display:block; }
#modal-dialog { font-size: 110%; }
#modal-dialog input.text textarea { margin-bottom:12px; width:95%; padding: .4em; }
#modal-dialog fieldset { padding:0; border:0; margin-top:25px; }
div#intro { font: 150% "Trebuchet MS", sans-serif; margin-top: 150px; }
#thisislobber {
		position: absolute; 
		top: 0px; 
		left: 0px; 
		width: 400px; 
		height: 90px; 
		z-index: +1;
		background-color: transparent; 
}
div#footer { margin-right: 50px; border-top: 1px solid #CECECE; position: absolute; bottom: 0; padding-bottom: 0px; width: 95%; }
div#footer ul { list-style: none; padding: 0; margin: 0; }
div#footer li { display: inline; }
div#footer li li { display: block; }
div#footer ul ul { float: left; padding-right: 50px; }
div#header { margin-top: 5px; margin-bottom: 0; background-image: url('../images/lobber-banner.jpg'); background-repeat:no-repeat; height: 95px; clear: both; }
.navlist ul { list-style: none; padding: 0; margin: 0; font-size: 90%; }
.navlist li { float: right; display: inline;}
.ilist { padding: 0px; margin: 0px; }
.ilist ul { list-style: none; }
.ilist li { display: inline-block; }
.leftright ul { display: inline; list-style: none inside; padding: 0px; }
.leftright li { display: inline-block; padding: 0px; vertical-align: top; }
.rlist ul { list-style: none inside; padding: inherit; }
.rlist li { float: right; display: inline; padding: inherit; }
.clist ul { list-style: none; }
.clist li { display: block; }
.description { clear: both; margin-top: 10px; padding-top: 15px; }
#branding{ font: 500% "Trebuchet MS", sans-serif; margin-left: 50px; padding-bottom: 20px; float: left}
div.toolbar{ padding: 4px; float: right; margin-right: 30px; margin-bottom: 20px; margin-top: 50px; }
#linklist { float: right; }
#linklist ul{ list-style: none; padding: 0; margin: 0; }
#linklist li{ float: left; margin: 0 0.15em}
#linklist a{ font: 120% "Trebuchet MS", sans-serif; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
#content{ padding-bottom: 50px; }
.code{font: 110% "Courier", fixed}
#rhs{ float: right; margin-right: 80px; width: 20%; }
#main{ float: left; margin-left: 0px; width:70%}
.code{font: 110% "Courier", fixed}
.infopanel { padding: 1em 2.2em; }
.infopanel label { display:block; }
div .hidden {visibility:hidden;}
form .ui-widget ul { list-style: none inside; padding: 0; margin: 0; }
form .ui-widget li { float: right; border-right: 1px solid #CECECE; padding-right: 5px; margin: 0; vertical-align: middle;}
.fieldlabel { font-weight: bold; }
ul.links { list-style: none inside; padding: 0; margin: 0; }
li.links { padding: 0; margin: 0; }
.ui-icon { display: inline-block !important; }
.minipanel { padding-top: 5px; padding-bottom: 5px; padding-left: 6px; padding-right: 6px; }
.right  { float: right; }
.left { float: left; }
.fieldinput ul { list-style: none inside; padding: 0; margin: 0; }
.fieldinput li { padding: 0; margin: 0; display: inline; float: left; }

form.cmxform {
  margin: 0px; padding: 0px; 	
}
form.cmxform fieldset {
  margin-bottom: 10px;
}
form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
  font-size: 120%;
}
form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  font-size: 120%;
  width: 120px; 
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}
