html { height: 100%; margin: 0; padding: 0;}
body { font: 61.8% "Trebuchet MS", sans-serif; width: 80%; height: 99%; margin:0; padding:0;}
div#container { position: relative; height:auto !important; height: 99%; min-height: 80%; margin-left: 50px; margin-top: 0; padding-bottom: 50px;}
label { display:block; }
#modal-dialog { font-size: 110%; }
#modal-dialog input.text textarea { margin-bottom:12px; width:95%; padding: .4em; }
#modal-dialog fieldset { padding:0; border:0; margin-top:25px; }
div#thisislobber { font: 150% "Trebuchet MS", sans-serif; margin-top: 150px; }
div#footer { font: 100% "Trebuchet MS", sans-serif; border-top: 1px solid #CECECE; position: absolute; bottom: 0; padding-bottom: 10px; width: 100%; }
div#footer ul { margin-right: 50px; list-style: none; padding: 0; margin: 0; }
div#footer li { float: left; margin: 0 0.15em}
div#header { margin-top: 5px; margin-bottom: 10px; }
.navlist ul { list-style: none; padding: 0; margin: 0; }
.navlist li { float: left; display: inline; margin: 0 0.15em; }
.description { clear: both; margin-top: 10px; padding-top: 15px; }
#branding{ font: 500% "Trebuchet MS", sans-serif; margin-left: 50px; padding-bottom: 20px; float: left}
div.toolbar{ padding: 4px; float: right; margin-right: 20px; margin-bottom: 20px;}
#linklist { float: right; }
#linklist ul{ list-style: none; padding: 0; margin: 0; }
#linklist li{ float: left; margin: 0 0.15em}
#linklist a{ font: 120% "Trebuchet MS", sans-serif; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
#content{ }
#rhs{ float: right; margin-right: 20px; width: 20%; }
#main{ float: left; margin-left: 50px; width:70%}
.code{font: 110% "Courier", fixed}
.infopanel {font-size: 130%; width: 100%; padding: 5px; margin-bottom: 10px; }
.infopanel label { display:block; }
div .hidden {visibility:hidden;}
form .ui-widget ul { list-style: none inside; padding: 0; margin: 0; }
form .ui-widget li { float: right; border-right: 1px solid #CECECE; padding-right: 5px; margin: 0; vertical-align: middle;}
.fieldlabel { font-weight: bold; }
ul.links { list-style: none inside; padding: 0; margin: 0; }
li.links { padding: 0; margin: 0; }
.altheader { padding-left: 20px; padding-bottom: 10px; border-bottom: 1px solid #CECECE;}
.altcontent { padding-left: 20px; padding-bottom: 10px; width: 80%; }
.altitem { margin-top: 20px; }
.ui-icon { display: inline-block !important; }
.minipanel { padding-top: 5px; padding-bottom: 5px; padding-left: 6px; padding-right: 6px; }

form.cmxform fieldset {
  margin-bottom: 10px;
}
form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
}
form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform label {
  width: 120px; /* Width of labels */
}
form.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}
