{% extends "share/base_ui.html" %}
{% load explainace %}
{% block title %}Lobber: Torrent Access Setting{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
	$("#id_subject").autocomplete({
			source: "/user/ace_subjects",
			minLength: 1,
			focus: function(event, ui) {
				$('#id_subject').val(ui.item.label);
				return false;
			},
			select: function(event, ui) {
				$('#id_subject').val(ui.item.label);
				$('#id_entitlement').val(ui.item.value);
				return false;
			}
	});
});
</script>
{% endblock %}
{% block main %}
<h1>Modify access control settings for {{torrent.name}}</h1>

<div class="ui-widget-content ui-corner-all infopanel" style="width: 100%">
	<h2>Current permissions</h2>
	<table>
	{% for ace in acl %}
	   <tr>
	      <td>{{ace|explainace}}</td>
	      <td><a href="/torrent/{{torrent.id}}/ace/remove/{{ace|urlencode}}"><span class="ui-icon ui-icon-trash"></span></a></td>
	   </tr>
	{% endfor %}
	</table>
	</div>

<form id="aclform" enctype="multipart/form-data" method="post" action="/torrent/{{torrent.id}}/ace">
  <div class="ui-widget-content ui-corner-all infopanel" style="margin-top: 20px;">
  <h2>Add Permission</h2>
    <table>
      {% for field in form %}
        <tr>
	      <td>
	          {% if not field.is_hidden %}
	          <div class="ui-widget fieldlabel">{{ field.label_tag }}</div>
	          {% endif %}
	          {% if field.errors %}
	          <div class="ui-widget ui-state-error">{{ field.errors }}</div>
	          {% endif %}
	          <div class="ui-widget">{{ field }}</div>
	      </td>
		</tr>
      {% endfor %}
    </table>
  </div>
  <br/>
  <div class="button">
    <input type="submit" value="Save Changes" />
	<input type="button" onClick="document.location='/torrent'" value="Done Editing"/>
  </div>
</form>
{% endblock %}