{% extends "share/base.html" %}
{% load tagging_tags %}
{%block code %}
<script type="text/javascript">
$(function() {
   $("#accordion").accordion({ header: "h3" });
   $("#id_expires").datepicker({'dateFormat': 'yy-mm-dd'});
   $("input:submit, input:button, a",".button").button();
   $('#notification').jnotifyInizialize({
      oneAtTime: false,
      appendType: 'append'
   }).css({
      'font-size': "120%",
      'position': 'absolute',
      'marginTop': '20px',
      'padding': '15px',
      'right': '20px',
      'width': '250px',
      'z-index': '9999'
   });
   $('.tip').tooltip({showURL: false});
   stomp = new STOMPClient();
   stomp.onopen = function() {
       $('#notification').jnotifyAddMessage({
          text: "STOMP connection opened",
          permanent: false,
          type: 'info'
       });
   };
   stomp.onclose = function(c) { 
       $('#notification').jnotifyAddMessage({
          text: "STOMP connection lost: "+c,
          permanent: true,
          type: 'error'
       });
   };
   stomp.onerror = function(error) {
       $('#notification').jnotifyAddMessage({
          text: error,
          permanent: true,
          type: 'error'
       });
   };
   stomp.onerrorframe = function(frame) {
       $('#notification').jnotifyAddMessage({
          text: frame.body,
          permanent: true,
          type: 'error'
       });
   };
   stomp.onconnectedframe = function() {
       stomp.subscribe("/session/"+$.cookie("sessionid"));
   };
   stomp.onmessageframe = function(frame) {
       $('#notification').jnotifyAddMessage({
          text: frame.body,
          permanent: false,
          type: 'info'
       });
   };
   stomp.connect('{{stomp_host}}', {{stomp_port}});
});
</script>
{% block js %}{% endblock %}
{% endblock %}

{%block style %}
<style type="text/css">
   body{ font: 61.8% "Trebuchet MS", sans-serif; margin: 50px; width: 70% }
   label, input { display:block; }
   #modal-dialog { font-size: 110%; }
   #modal-dialog input.text textarea { margin-bottom:12px; width:95%; padding: .4em; }
   #modal-dialog fieldset { padding:0; border:0; margin-top:25px; }
   #footer { font: 100% "Trebuchet MS", sans-serif; border-top: 1px solid black; margin-top: 50px; padding-top: 10px;}
   #footer ul { margin-right: 50px; list-style: none; padding: 0; margin: 0; }
   #footer li { float: left; margin: 0 0.15em}
   .navlist ul { list-style: none; padding: 0; margin: 0; }
   .navlist li { float: left; display: inline; margin: 0 0.15em; }
   .description { clear: both; margin-top: 25px; padding-top: 5px; border-top: 1px solid black; }
   #branding{ font: 500% "Trebuchet MS", sans-serif; margin-left: 50px; margin-bottom: 20px; float: left}
   #linklist { float: right; margin-right: 50px; }
   #linklist ul{ list-style: none; padding: 0; margin: 0; }
   #linklist li{ float: left; margin: 0 0.15em}
   #linklist a{ font: 120% "Trebuchet MS", sans-serif; }
   .tagform { border-right: 2px solid black; padding-right: 20px; }
   .tag { padding-left: 4px; padding-bottom: -1px; }
   .tags { float: right; }
   .tags li { float: right;}
   .tags li a { text-align: middle}
   .tags li span { float: right }
   .clear { clear: both; }
   #content{ }
   #rhs{ float: right; width: 20%; position:relative; top: -300px; right: 20px; font-size: 150%;}
   #main{ font: 100% "Trebuchet MS", sans-serif; margin: 50px; width:70%}
   .code{font: 110% "Courier", fixed}
   .infopanel {font-size: 130%; width: 100%; padding: 5px; margin-bottom: 10px; }
   .infopanel label, div { display:block; }
   div .hidden {visibility:hidden;}
</style>
{% endblock %}

{% block body %}
<div id="notification"></div>
{% if error %}
<script type="text/javascript">
$(function() {
   $('#notification').jnotifyAddMessage({
      text: {{error}},
      permanent: false,
      type: 'error'
   });
});
</script>
{% endif %}
<div id="header">
   <div style="float: right; margin-right: 50px;" class="button"><a id="logout" href="/auth/logout">Logout</a></div>
   <div id="linklist">
   {% if user.is_authenticated %}
      <ul>
         <li><a href="/user"><span class="ui-icon ui-icon-locked" style="float: left;"></span>{{ user.get_full_name }}</a></li>
      </ul>
   {% endif %}
   </div>
   <div id="branding"><a style="text-decoration: none" href="/">{% block title %}{% endblock %}</a></div>
</div>
<div class="clear"></div>
<div id="content">
	<div id="main">
	   	{% block main %}{% endblock %}
	</div>
	<div id="rhs">
	    <h4>Tag cloud</h4>
		{% tag_cloud_for_model share.Torrent as tags with steps=6 min_count=1 distribution=log %}
		{% for tag in tags %}
		<a style="font-size: {{tag.font_size}}" href="/torrent/tag/{{tag.name}}.html">{{tag.name}}</a>  
		{% endfor %}
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="footer">
   <ul>
     <li><a href="#about">About Lobber</a></li>
     <li><a href="#about">Terms Of Use</a></li>
     <li><a href="#about">System Status</a></li>
   </ul>
</div>
{% endblock %}
