<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
        <link type="text/css" href="/media/css/ui-lightness/jquery-ui-1.8rc2.custom.css" rel="stylesheet" />
        <link type="text/css" href="/media/css/jquery.jnotify.css" rel="stylesheet" />
        <link type="text/css" href="/media/css/jquery.tooltip.css" rel="stylesheet" />
        <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui-1.8rc2.custom.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery.bgiframe.js"></script>
        <script type="text/javascript" src="/media/js/jquery.dimensions.pack.js"></script>
        <script type="text/javascript" src="/media/js/jquery.tooltip.pack.js"></script>
        <script type="text/javascript" src="/media/js/jquery.gravatar.js"></script>
        <script type="text/javascript" src="/media/js/md5.js"></script>
        <script type="text/javascript" src="/media/js/jquery.jnotify.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block code %}{% endblock %}
        {% block style %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
