{% extends "share/base.html" %}
{%block code %}
<script type="text/javascript">
   function _i(message) {
   	  $('#notification').jnotifyAddMessage({
          text: message,
          permanent: false,
          type: 'info'
      });
   }
   function _e(message) {
   	  $('#notification').jnotifyAddMessage({
          text: message,
          permanent: true,
          type: 'error'
      });
   }
$(function() {
   $("input:submit, input:button, a",".button").button();
   $('#notification').jnotifyInizialize({
      oneAtTime: false,
      appendType: 'append'
   }).css({
      'font-size': "120%",
      'position': 'absolute',
      'marginTop': '20px',
      'padding': '15px',
      'right': '20px',
      'width': '250px',
      'z-index': '9999'
   });
   $('.tip').tooltip({showURL: false});
   stomp = new STOMPClient();
   {% if debug %}
   stomp.onopen = function() {
       $('#notification').jnotifyAddMessage({
          text: "STOMP connection opened",
          permanent: false,
          type: 'info'
       });
   };
   stomp.onclose = function(c) { 
       $('#notification').jnotifyAddMessage({
          text: "STOMP connection lost: "+c,
          permanent: true,
          type: 'error'
       });
   };
   {% endif %}
   stomp.onerror = function(error) {
       $('#notification').jnotifyAddMessage({
          text: error,
          permanent: true,
          type: 'error'
       });
   };
   stomp.onerrorframe = function(frame) {
       $('#notification').jnotifyAddMessage({
          text: frame.body,
          permanent: true,
          type: 'error'
       });
   };
   stomp.onconnectedframe = function() {
       stomp.subscribe("/session/"+$.cookie("sessionid"));
   };
   stomp.onmessageframe = function(frame) {
       $('#notification').jnotifyAddMessage({
          text: frame.body,
          permanent: false,
          type: 'info'
       });
   };
   stomp.connect('{{stomp_host}}', {{stomp_port}});
});
</script>
{% block js %}{% endblock %}
{% endblock %}
{% block body %}

<div id="header">
   {% if user.is_authenticated %}
   <div class="ui-widget ui-state-default ui-corner-all navlist toolbar">
      <ul>
		 <li><a class="tip" title="Application keys" href="/key"><span class="ui-icon ui-icon-key"></span></a></li>
		 <li><a class="tip" title="Torrents" href="/torrent"><span class="ui-icon ui-icon-transferthick-e-w"></span></a></li>
		 <li><a title="{{ user.get_full_name }}" class="tip" href="/user"><span class="ui-icon ui-icon-home"></span></a></li>
         <li><a title="Logout" class="tip" id="logout" href="/auth/logout/"><span class="ui-icon ui-icon-power"></span></a></li>
	   </ul>
   </div>
   {% endif %}
   <div class="clear"></div>
</div>
<div id="content">
	<div id="main">
	   	{% block main %}{% endblock %}
	</div>
	<div id="rhs">
	    {% block rhs %}{% endblock %}
	</div>
</div>
<div class="clear"></div>
<div id="footer">
   <ul>
     <li><a href="#about">About Lobber</a></li>
     <li><a href="#about">Terms Of Use</a></li>
     <li><a href="#about">System Status</a></li>
   </ul>
</div>
{% endblock %}
