{% extends "share/base.html" %}

{%block code %}
<script type="text/javascript">
$(function() {
   $("#accordion").accordion({ header: "h3" });
   $("#id_expires").datepicker();
   $("input:submit, input:button, a",".button").button();
});
</script>
{% endblock %}

{%block style %}
<style type="text/css">
   body{ font: 100% "Trebuchet MS", sans-serif; margin: 50px; width: 61.8%}
   #footer{ clear: both; font: 61.8% "Trebuchet MS", sans-serif; border-top: 1px solid black; margin-top: 50px; padding-top: 10px;}
   #footer ul { float: center; margin-right: 50px; }
   #footer ul{ list-style: none; padding: 0; margin: 0; }
   #footer li{ float: left; margin: 0 0.15em}
   #branding{ font: 300% "Trebuchet MS", sans-serif; margin-left: 50px; margin-bottom: 20px; float: left}
   #linklist { float: right; margin-right: 50px; }
   #linklist ul{ list-style: none; padding: 0; margin: 0; }
   #linklist li{ float: left; margin: 0 0.15em}
   #linklist a{ font: 100% "Trebuchet MS", sans-serif; }
   #main{ clear: both; font: 61.8% "Trebuchet MS", sans-serif; margin: 50px;}
   code{font: 110% "Courier", fixed}
</style>
{% endblock %}

{% block body %}
<div id="header">
   <div style="float: right" class="button"><a id="logout" href="/nordushare/logout">log out</a></div>
   <div id="linklist">
   {% if user %}
      <ul>
         <li><a href="/nordushare/user">{{ user.get_full_name }}</a></li>
      </ul>
   {% endif %}
   </div>
   <div id="branding">{% block title %}{% endblock %}</div>
</div>
<div id="main">
   {% block main %}{% endblock %}
</div>
<div id="footer">
   <ul>
     <li><a href="#about">About Lobber</a></li>
     <li><a href="#about">Terms Of Use</a></li>
     <li><a href="#about">System Status</a></li>
   </ul>
</div>
{% endblock %}
