{% extends "share/base.html" %}

{% block title %}Lobber{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
	$("#consumers").accordion({ 
   			header: "h3", 
   			event: "click", 
   			collapsible: true,
   			active: false
   	});
});
</script>
{% endblock %}

{% block main %}
<h1>OAuth Consumers</h1>
<form action="/consumers" method="POST">
	<div class="ui-widget-content ui-corner-all infopanel" style="margin-top: 20px;">
    <table>
      {% for field in form %}
        <tr>
          {% if field.errors %}
            <td colspan="2">{{ field.errors }}</td>
          {% endif %}
        </tr>
        <tr>
          <td>{{ field.label_tag }}</td>
	      <td><div class="ui-widget">{{ field }}</div></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <br/>
  <div class="button">
    <input type="submit" value="Create consumer" />
    <input type="button" onClick="document.location='/torrent'" value="Cancel"/>
  </div>
</form>
<br/>
{% if consumers %}
<div id="consumers">
  {% for consumer in consumers %}
    <div class="consumer" id="{{ consumer.name }}">
      <h3><a href="#{{ consumer.key }}">{{ consumer.name }} ({{consumer.key}})</a></h3>
      <div>
	      <div class="navlist">
	         <ul>
	         	<li style="float: right;">
	               <a class="tip" title="Remove this consumer" href="/consumer/{{consumer.key}}/remove">
	                  <span class="ui-icon ui-icon-trash"></span>
	               </a>
	            </li>
	         </ul>
	      </div>
	      <div>
		     <table>
		        <tr><th>Key</th><td>{{ consumer.key }}</td></tr>
			    <tr><th>Name</th><td>{{ consumer.name }}</td></tr>
			    <!-- tr><th>Status</th><td>{{ consumer.status }}</td></tr -->
		     </table>
		     <p>{{consumer.description}}</p>
	      </div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <p>No consumers defined for this user...</p>
{% endif %}
{% endblock %}
