{% extends "share/base_ui.html" %}
{% block title %}Lobber{% endblock %}

{% block main %}
<h1>Create key</h1>

<form enctype="multipart/form-data" method="post" action="/nordushare/key/">
  <div class="ui-widget-content ui-corner-all infopanel" style="margin-top: 20px;">
    <table>
      {% for field in form %}
        <tr>
          {% if field.errors %}
            <td colspan="2">{{ field.errors }}</td>
          {% endif %}
	</tr>
        <tr>
	  <td>{{ field.label_tag }}</td>
	  <td><div class="ui-widget">{{ field }}</div></td>
	</tr>
      {% endfor %}
    </table>
  </div>

  <br/>
  <div class="button">
    <input type="submit" value="Create key" />
    <input type="button" onClick="document.location='/nordushare'" value="Cancel"/>
  </div>
</form>
{% endblock %}
