{% extends "share/base_ui.html" %}

{% block title %}Lobber{% endblock %}
{% block js %}
<script type="text/javascript">
var link = $('#link'),
    to = $('#to'),
    message = $('#message'),
    allFields = $([]).add(to).add(message);

$(function() {
   $('#share-mail-dialog').dialog({
       position: ['center','center'],
       autoOpen: false,
       height: 240,
       width: 350,
       modal: true,
       buttons: {
          'Send email': function() {
             $('#share-mail-dialog form').submit();
             $(this).dialog('close');
          },
          'Cancel': function() {
             $(this).dialog('close');
          }
       },
       close: function() {
          allFields.val('').removeClass('ui-state-error');
       }
   });
   $('#share-link-dialog').dialog({
       autoOpen: false,
       height: 200,
       width: 500,
       modal: true,
       buttons: {
          'Ok': function() {
             $(this).dialog('close');
          }
       },
       close: function() {
          allFields.val('').removeClass('ui-state-error');
       }
   });
   $('#share-mail-dialog form').submit(function() {
      $.get($(this).attr('action'),$(this).serialize(),function(data) {
         if (data) {
            $('#notification').jnotifyAddMessage({
               text: data,
               permanent: false
            });
         }
      });
      return false;
   });
   $('#tag-dialog').dialog({
       autoOpen: false,
       height: 200,
       width: 600,
       modal: true,
       buttons: {
          'Ok': function() {
          	 $('#tag-dialog form').submit();
             $(this).dialog('close');
          },
          'Cancel': function() {
          	 $(this).dialog('close');
          }
       },
   });
   $('#tag-dialog form').submit(function() {
   	   $.post($(this).attr('action'),$(this).serialize(),function(data) {
   	      if (data) {
   	         $('#notification').jnotifyAddMessage({
               text: data,
               permanent: false
            });
   	      }
   	   });
   	   return false;
   });
   $("#tag-dialog form input").tagInput({
      	jsonUrl:"/torrent/tags.json",
      	sortBy:"frequency",
      	//suggestedTags: {{user.profile.entitlements}},
      	tagSeparator:" ",
      	autoFilter:true,
      	autoStart:true,
      	//suggestedTagsPlaceHolder:$("#suggested"),
      	boldify:true
   });
});

function gufrt(id) {
   $('#link').load("/torrent/gufrt/"+id);
   $('#share-link-dialog').dialog('open');
}

function mailit(id) {
   allFields.val('');
   $('#share-mail-dialog form').attr('action','/torrent/sendlink/'+id);
   $('#share-mail-dialog').dialog('open');
}

function tagit(id) {
	$('#tag-dialog form').attr('action','/torrent/'+id+'/tags.json');
	$.getJSON('/torrent/'+id+'/tags.json',function(data) {
		$('#tag-dialog form input').attr('value',data.join(" "));
	});
	$('#tag-dialog').dialog('open');
}

</script>
{% endblock %}

{% block main %}
<div class="button">
  <a href="/torrent/jnlp/">Upload using Java Web Start</a>
  <a href="/torrent/add/">Upload a torrent file</a>
</div>

<div id="tag-dialog" class="modal-dialog" title="Tag this data">
	<form action="">
	   <fieldset>
	      <label for="tags">Tags</label>
	      <input type="text" size="80" name="tags" id="tags" class="text"></input><br/>
          Suggested tags: <span id="suggested" class="tabInputSuggestedTagList"></span>
       </fieldset>
    </form>
</div>

<div id="share-link-dialog" class="modal-dialog" title="A link to this data">
   <div id="link" class="text"></div>
</div>

<div id="share-mail-dialog" class="modal-dialog" title="Send a link to this data">
   <form action="">
      <fieldset>
         <label for="to">Email</label>
         <input type="text" name="to" id="to" value="" size="40" class="text ui-widget-content ui-corner-all" />
         <label for="message">Message</label>
         <textarea name="message" id="message" value="" rows="4" cols="40" class="text ui-widget-content ui-corner-all"></textarea>
      </fieldset>
   </form>
</div>

{% if torrents %}
<h1>{{title}}</h1>
<!-- div class="tagnav navlist">
    <form>
		<input type="text" name="tag" class="ui-widget" id="tagnavfield"></input>
	</form>
</div -->
<div style="clear: both;"></div>

<div id="accordion">
    {% for t in torrents %}
  <div id="{{t.id}}" class="torrent">
	<h3><a href="#{{t.id}}">{{ t.name }} - created at {{t.creation_date}}</a></h3>
        <div>
	   <div class="navlist">
             <ul>
                <li>
                   <a class="tip" title="Download this data using a torrent client" href="{{t.url}}">
                      <span class="ui-icon ui-icon-arrowthickstop-1-s"></span>
                   </a>
                </li>
                <!-- li>
                   <a class="tip" title="Download this data using the download manager" href="/torrent/{{t.id}}.jnlp">
                      <span class="ui-icon ui-icon-folder-open"></span>
                   </a>
                </li -->
                <li>
                   <a class="tip" title="Share a link to this data" href="javascript:void(0);" onClick="gufrt('{{t.id}}')">
                      <span class="ui-icon ui-icon-extlink"></span>
                   </a>
                </li>
                <li>
                   <a class="tip" title="Send a link to this data" href="javascript:void(0);" onClick="mailit('{{t.id}}')">
                      <span class="ui-icon ui-icon-mail-closed"></span>
                   </a>
                </li>
                <li style="float: right;">
                   <a class="tip" title="Remove this torrent" href="/torrent/remove/{{t.id}}">
                      <span class="ui-icon ui-icon-trash"></span>
                   </a>
                </li>
                <li style="float: right;">
                   <a class="tip" title="Tag this torrent" href="javascript:void(0);" onClick="tagit('{{t.id}}')">
                   	<span class="ui-icon ui-icon-star"></span>
                   </a> 
                </li>
                <!-- li style="float: right;">
                   <a class="tip" title="Modify settings for this torrent" href="/torrent/{{t.id}}.html">
                      <span class="ui-icon ui-icon-wrench"></span>
                   </a>
                </li -->
             <ul> 
           </div>
           {% if t.description %}
           <div class="description">
              <h4>Description:</h4>
              <p>{{t.description}}</p>
           </div>
           {% endif %} 
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
  <p>Nothing matched your search or we're simply out of shared material...</p>
{% endif %}
{% endblock %}

{% block rhs %}
{% load tagging_tags %}
<h4>Tag cloud</h4>
{% tag_cloud_for_model share.Torrent as tags with steps=6 min_count=1 distribution=log %}
{% for tag in tags %}
<font class="tag" size="{{tag.font_size}}"><a href="/torrent/tag/{{tag.name}}.html">{{tag.name}}</a></font>  
{% endfor %}
{% endblock %}
