{% extends "share/base_ui.html" %}

{% block title %}Lobber{% endblock %}
{% block js %}
<script type="text/javascript">
var link = $('#link'),
    to = $('#to'),
    message = $('#message'),
    allFields = $([]).add(to).add(message);

$(function() {
   $('#share-mail-dialog').dialog({
       position: ['center','center'],
       autoOpen: false,
       height: 240,
       width: 350,
       modal: true,
       buttons: {
          'Send email': function() {
             $('#share-mail-dialog form').submit();
             $(this).dialog('close');
          },
          'Cancel': function() {
             $(this).dialog('close');
          }
       },
       close: function() {
          allFields.val('').removeClass('ui-state-error');
       }
   });
   $('#share-link-dialog').dialog({
       autoOpen: false,
       height: 200,
       width: 500,
       modal: true,
       buttons: {
          'Ok': function() {
             $(this).dialog('close');
          }
       },
       close: function() {
          allFields.val('').removeClass('ui-state-error');
       }
   });
   $('#share-mail-dialog form').submit(function() {
      $.get($(this).attr('action'),$(this).serialize(),function(data) {
         if (data) {
            $('#notification').jnotifyAddMessage({
               text: data,
               permanent: false
            });
         }
      });
      return false;
   });
   function _add_tag_li(elt,name) {
	   elt.append($("<li class=\"tag text ui-state-highlight ui-widget-content ui-corner-all\"><a class=\"tip\" title=\"Search for torrets with tag "+name+"\" href=\"/torrent/tag/"+name+".html\">"+name+"</a><a class=\"remove\" href=\"javascript:void(0);\" onClick=\"remove_tag_li(this);\"><span class=\"ui-icon ui-icon-close\"></span></a></li>"));
   }
   function _add_tag(tags,tid,name,tf) {
	   $.get("/torrent/"+tid+"/tag/add/"+name,function(data) {
        	_add_tag_li(tags,name);
        	tf.attr('value','')
       });
   }
   $('.tags').each(function(index) {
	   var elt = $(this);
	   var tid = $(this).closest('.torrent').attr('id');
	   $.getJSON("/torrent/"+tid+"/tags",{},function(data,status) {
		   var length = data.length;
		   for (var i = 0; i < length; i++) {
	          _add_tag_li(elt,data[i]);
		   }
	   });
   });
   $('.tagfield').autocomplete({
      source: "/torrent/tags",
      minLength: 2,  
      select: function(event, ui) {
	      var tag;
	      var tf = $(this).closest('.tagfield').first();
	      if (ui.item) {
		    tag = ui.item.value;
		    tf.attr('value',tag);
	      } else {
			tag = tf.attr('value');
	      }
	      torrent_elt = $(this).closest('.torrent');
	      tags = torrent_elt.find('.tags').first();
	      tid = torrent_elt.attr('id');
	     _add_tag(tags,tid,tag,tf);
      }
   });
   $('.tag .remove').click(function() {
	  var tid = $(this).closest('.torrent').attr('id');
	  var elt = $(this).closest('.tag');
      $.get("/torrent/"+tid+"/tag/remove/"+$(this).prev().text(),function(data) {
      	  elt.remove();
      });
   });
});

function remove_tag_li(a) {
	   var tid = $(a).closest('.torrent').attr('id');
	   var li = $(a).closest('.tag');
	   $.get("/torrent/"+tid+"/tag/remove/"+$(a).prev().text(),function(data) {
	      li.remove();
	   });
}

function gufrt(id) {
   $('#link').load("/torrent/gufrt/"+id);
   $('#share-link-dialog').dialog('open');
}

function mailit(id) {
   allFields.val('');
   $('#share-mail-dialog form').attr('action','/torrent/sendlink/'+id);
   $('#share-mail-dialog').dialog('open');
}

</script>
{% endblock %}

{% block main %}
<div class="button">
  <a href="/torrent/jnlp/">Upload using Java Web Start</a>
  <a href="/torrent/add/">Upload a torrent file</a>
</div>

<div id="share-link-dialog" class="modal-dialog" title="A link to this data">
   <div id="link" class="text"></div>
</div>

<div id="share-mail-dialog" class="modal-dialog" title="Send a link to this data">
   <form action="">
      <fieldset>
         <label for="to">Email</label>
         <input type="text" name="to" id="to" value="" size="40" class="text ui-widget-content ui-corner-all" />
         <label for="message">Message</label>
         <textarea name="message" id="message" value="" rows="4" cols="40" class="text ui-widget-content ui-corner-all"></textarea>
      </fieldset>
   </form>
</div>

{% if torrents %}
<h1>{{title}}</h1>
<div id="accordion">
    {% for t in torrents %}
  <div id="{{t.id}}" class="torrent">
	<h3><a href="#{{t.id}}">{{ t.name }} - created at {{t.creation_date}}</a></h3>
        <div>
	   <div class="navlist">
             <ul>
                <li>
                   <a class="tip" title="Download this data using a torrent client" href="{{t.url}}">
                      <span class="ui-icon ui-icon-arrowthickstop-1-s"></span>
                   </a>
                </li>
                <li>
                   <a class="tip" title="Download this data using the download manager" href="/torrent/{{t.id}}.jnlp">
                      <span class="ui-icon ui-icon-folder-open"></span>
                   </a>
                </li>
                <li>
                   <a class="tip" title="Share a link to this data" href="javascript:void(0);" onClick="gufrt('{{t.id}}')">
                      <span class="ui-icon ui-icon-extlink"></span>
                   </a>
                </li>
                <li>
                   <a class="tip" title="Send a link to this data" href="javascript:void(0);" onClick="mailit('{{t.id}}')">
                      <span class="ui-icon ui-icon-mail-closed"></span>
                   </a>
                </li>
                <li style="float: right;">
                   <a class="tip" title="Remove this torrent" href="/torrent/delete/{{t.id}}">
                      <span class="ui-icon ui-icon-trash"></span>
                   </a>
                </li>
                <li style="float: right;">
                   <a class="tip" title="Modify settings for this torrent" href="/torrent/{{t.id}}.html">
                      <span class="ui-icon ui-icon-wrench"></span>
                   </a>
                </li>
                <ul style="float: left;" class="tags"></ul>
                <li style="float: right;">
                   <input type="text" name="name" value="" class="tagfield"/>
                </li>
             <ul> 
           </div>
           {% if t.description %}
           <div class="description">
              <h4>Description:</h4>
              <p>{{t.description}}</p>
           </div>
           {% endif %} 
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
  <p>Seems like we're out of shared material.</p>
{% endif %}
{% endblock %}
