{% extends "share/base.html" %}

{% block title %}Lobber{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
	$('#id_expires').datepicker({'dateFormat': 'yy-mm-dd'});
	$('#expdate-dialog form').submit(function() {
		$.post($(this).attr('action'),$(this).serialize(),function(data) {
		   if (data) {
   	          $('#notification').jnotifyAddMessage({
                 text: data,
                 permanent: false
              });
   	       }
		});
		return false;
	});
	$("#keys").accordion({ 
   			header: "h3", 
   			event: "click", 
   			collapsible: true,
   			active: false
   	});
});
</script>
{% endblock %}

{% block main %}
<h1>Application Keys</h1>
<form class="cmxform" enctype="multipart/form-data" method="post">
  <fieldset class="ui-widget-content ui-corner-all infopanel">
      <legend>Create a new key</legend>
      <ol>
      {% for field in form %}
      		{% if field.is_hidden %}
      		{{ field }}
      		{% else %}
        	<li><label for="id_{{ field.html_name }}">{{ field.label }}
        		{% if field.field.required %}<em>*</em>{% endif %}</label>
        		{{ field }}
        		{% if field.errors %}<em>{{field.errors}}</em>{% endif %}
        	</li>
        	{% endif %}
      {% endfor %}
      </ol>
  </fieldset>

  <br/>
  <div class="button">
    <input type="submit" value="Create Key" />
    <input type="button" onClick="document.location='/torrent'" value="Cancel"/>
  </div>
</form>
<br/>
{% if keys %}
<div id="keys">
  {% for profile in keys %}
    <div class="key" id="{{ profile.get_username }}">
      <h3><a href="#{{ profile.get_username }}">{{ profile.get_username }}</a></h3>
      <div>
      	<div class="navlist">
         <ul>
            <li style="float: right;">
               <a class="tip" title="Remove this key" href="/key/{{profile.get_username}}/remove">
                  <span class="ui-icon ui-icon-trash"></span>
               </a>
            </li>
         </ul>
        </div>
        <div class="description">
			<table>
			  <tr><td>Lobber Key</td><td>{{ profile.get_username}}</td></tr>
			  {% if profile.entitlements %}
		      <tr><td>Delegated Entitlements</td><td>{{ profile.entitlements}}</td></tr>
		      {% endif %}
			  {% if profile.urlfilter %}
			  <tr><td>URL filter</td><td>{{ profile.urlfilter }}</td></tr>
			  {% endif %}
			  {% if profile.tagconstraints %}
			  <tr><td>Tag constraints</td><td>{{ profile.tagconstraints }}</td></tr>
			  {% endif %}
			  <tr><td>Expiration date</td><td>{{ profile.expiration_date }}</td></tr>
			</table>
		</div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <p>You don't have any application keys.</p>
{% endif %}
{% endblock %}
