{% extends "share/base_ui.html" %}

{% block title %}Lobber{% endblock %}

{% block main %}

{% if keys %}
<h1>Keys</h1>
<div id="accordion">
  {% for profile in keys %}
    <div>
      <h3><a href="#{{ profile.get_username }}">{{ profile.get_username }}</a></h3>
      <div>
	<table>
          <tr><td>Entitlements: {{ profile.entitlements }}</td></tr>
	  <tr><td>URL filter: {{ profile.urlfilter }}</td></tr>
	  <tr><td>Tag constraints: {{ profile.tagconstraints }}</td></tr>
	  <tr><td>Expiration date: {{ profile.expiration_date }}</td></tr>
	</table>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <p>No keys.</p>
{% endif %}
{% endblock %}
