{% extends "share/base_ui.html" %}

{% block title %}Lobber{% endblock %}

{% block main %}

{% if keys %}
<h1>Keys</h1>
<div id="accordion">
  {% for profile in keys %}
    <div>
      <h3><a href="#">{{ profile.user.username }}</a></h3>
      <div>
        Entitlements: {{ profile.entitlements }}
      </div>
      <div>
	URL filter: {{ profile.urlfilter }}
      </div>
      <div>
	Expiration date: {{ profile.expiration_date }}
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <p>No keys.</p>
{% endif %}
{% endblock %}
