{% extends "base.html" %}

{% block title %}Lobber{% endblock %}

{% block main %}

<div id="thisislobber">
<h1>This is lobber</h1>
<p>
Lobber is the SUNET data-distribution service. 
</p>
<p>
Please use the feedback-tab to the right to tell us about your experience with lobber. 
The lobber service is a public BETA service: it may work or it may not, your milage will vary!
</p>
<p>
In order to download from Lobber you will need a BitTorrent client. We suggest <a href="http://www.transmissionbt.com/download.php">Transmission</a>
for Linux or Mac and <a href="http://www.utorrent.com/downloads"uTorrent</a> for Windows.
</p>

<div class="navlist" style="margin-top: 50px;">
   <ul>
      <li><div class="button"><a href="/auth/login-federated/?next={{next}}">Login using SWAMID</a></div></li>
      <li><div class="button"><a href="/Shibboleth.sso/DS/kalmar2?target=https://beta.lobber.se/auth/login-federated/?next={{next}}">Login using Kalmar</a></div></li>
      <li><div class="button"><a href="/Shibboleth.sso/Login/engineblock.dev.coin.surf.net?target=https://beta.lobber.se/auth/login-federated/?next={{next}}">Login using COIN</a></div></li>
   </u>
</div>
<div class="clear"/>

</div>

{% endblock %}
