{% extends "base.html" %}

{% block title %}Lobber{% endblock %}

{% block main %}
<div class="navlist" style="margin-top: 50px;">
   <ul>
	   <li><div class="button"><a href="/Shibboleth.sso/WAYF/wayf.swamid.se?target=%2Fauth%2Flogin-federated%3Fnext%3D{{next}}">Login using SWAMID</a></div></li>
	   <li><div class="button"><a href="/Shibboleth.sso/DS/kalmar2?target=%2Fauth%2Flogin-federated%3Fnext%3D{{next}}">Login using Kalmar</a></div></li>
	   <li><div class="button"><a href="/Shibboleth.sso/Login/engineblock.dev.coin.surf.net?target=%2Fauth%2Flogin-federated%3Fnext%3D{{next}}">Login using COIN</a></div></li>
	</u>
</div>
<div class="clear"/>

<div id="thisislobber">
<h1>This is lobber</h1>
<p>
Lobber is the SUNET data-distribution service. 
</p>
<p>
Please use the feedback-tab to the right to tell us about your experience with lobber. 
The lobber service is a public BETA service: it may work or it may not, your milage will vary!
</p>
</div>

{% endblock %}
