{% extends "base.html" %}

{% block title %}Lobber{% endblock %}

{% block main %}
<div class="button" style="margin-top: 50px;">
   <a href="/auth/login-federated/?next={{next}}">Login using your eduID</a>
</div>

<div id="thisislobber">
<h1>This is lobber</h1>
<p>
Lobber is the SUNET data-distribution service. 
</p>
<p>
Please use the feedback-tab to the right to tell us about your experience with lobber. 
The lobber service is a public BETA service: it may work or it may not, your milage will vary!
</p>
</div>

{% endblock %}
