{% extends "base.html" %}
{% load explainace %}
{% load datehumanize %}
{% load metainfo %}
{% load userdisplay %}
{% block title %}Lobber: Modify Torrent{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
	$("#id_subject").autocomplete({
			source: "/user/ace_subjects",
			minLength: 1,
			focus: function(event, ui) {
				$('#id_subject').val(ui.item.label);
				return false;
			},
			select: function(event, ui) {
				$('#id_subject').val(ui.item.label);
				$('#id_entitlement').val(ui.item.value);
				return false;
			}
	});
	$('#settings > div > h3').each(function(index) {
		$(this).append($("<span class=\"ui-icon\" style=\"float: left;\"></span>"));
		$(this).attr("style","clear: both;");
	});
	var cookieValue = $.cookie('menuCookie') || '';
	$('#settings > div').each(function(index) {
	    var h3 = $(this).children('h3');
		if (cookieValue.indexOf($(this).attr('id')) > -1) {
			h3.children('.ui-icon').addClass("ui-icon-triangle-1-s");
		   	h3.next().show();
		} else {
			h3.children('.ui-icon').addClass("ui-icon-triangle-1-e");
			h3.next().hide();
		}
	});
	$('#settings > div > h3').click(function() {
		var id = $(this).parent().attr('id');
		if ($(this).next().is(':visible')) {
		    cookieValue = cookieValue.replace(id,"");
			cookieValue = cookieValue.replace("--","-");
			var span = $(this).children('span');
			span.addClass("ui-icon-triangle-1-e");
			span.removeClass("ui-icon-triangle-1-s");
			$(this).next().hide();
		} else {
			if (cookieValue.indexOf(id) == -1)
			   cookieValue = cookieValue + "-" + id
			var span = $(this).children('span');
			span.addClass("ui-icon-triangle-1-s");
			span.removeClass("ui-icon-triangle-1-e");
			$(this).next().show();
		}
		$.cookie('menuCookie', cookieValue);
		return false;
	});
	$.getJSON('/torrent/scrape/{{torrent.id}}.json',function(data) {
	   $('#scrape').text('seeders: '+data['downloaded']+' leechers: '+data['incomplete']);
	});
	$.getJSON('/torrent/tags.json',function(data) {
	   $('#taglist').tagit({
	      availableTags: data,
	      existingTags: [{% for t in tags %}'{{t}}',{% endfor%}],
	      namePrefix: 'tags'
	   });
	}); 
	$("#remove-torrent-dialog").dialog({
			autoOpen: false,
			resizable: false,
			height: 160,
			modal: true,
			buttons: {
				'Remove torrent': function() {
					$.getJSON($("#remove-torrent-dialog form").attr('action'));
					$(this).dialog('close');
				},
				'Cancel': function() {
					$(this).dialog('close');
				}
			}
	});
});
function removeit(id) {
   $('#remove-torrent-dialog form').attr('action','/torrent/remove/'+id);
   $('#remove-torrent-dialog').dialog('open');
}
</script>
{% endblock %}
{% block main %}
{% if edit %}
<div id="remove-torrent-dialog" class="modal-dialog" title="Really remove this torrent?">
    <form action="">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
			This torrent will be permanently deleted and cannot be recovered. Are you sure?</p>
	</form>
</div>
{% endif %}

<h1>{{torrent.name}} - created {{torrent.creation_date|datehumanize}}</h1>
<div class="navlist" style="margin-top: 50px;">
   <ul>
	   <li><div class="button"><a href="/torrent/{{torrent.id}}.torrent{{lkey}}">Download</a></div></li>
	   {% if edit %}
	   {% if torrent.effective_rights.w or torrent.effective_rights.d %}
	   <li><div class="button"><a class="tip" title="Remove this torrent" href="javascript:void(0);" onClick="removeit('{{torrent.id}}')">Delete</a></div></li>
	   {% endif %}
	   {% if torrent.effective_rights.w %}
	   <li><div class="button"><a class="tip" title="Share a link to this data" href="/link/torrent/{{torrent.id}}">Share a link</a></div></li>
   	   {% endif %}
   </ul>
</div>
{% endif %}
<div class="clear"></div>
<br/>

{% if torrent.description %}
<div class="ui-helper-reset ui-state-highlight ui-widget ui-corner-all">
	<div class="infopanel">
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>{{torrent.description}}</p>
	</div>
</div>
{% endif %}

<div id="settings">
   {% if torrent.effective_rights.r or torrent.effective_rights.w or torrent.effective_rights.d %}
   <div id="info" class="ui-widget-content ui-corner-all altitem">
   	  <h3 class="altheader">Information</h3>
   	  <div class="altcontent">
   	    <h4>Download status</h4>
   	  	<p id="scrape"></p>
   	  	<h4>Name</h4>
   	  	<p>{{torrent.meta_info.name}}</p>
   	  	{% if torrent.meta_info.files %}
   	  	<h4>Files</h4>
   	  	<ul class="links">
   	  	{% for f in torrent.meta_info.files %}
   	  	   <li>{{f|metainfofile}}</li>
   	  	{% endfor %}
   	  	</ul>
   	  	{% endif %}
   	  	<h4>Creator</h4>
   	  	<p>{{torrent.creator|userdisplay}}</p>
   	  </div>
   </div>
   {% endif %}
   {% if edit and torrent.effective_rights.w %}
   <div id="tags" class="ui-widget-content ui-corner-all altitem">
      <h3 class="altheader">Tags</h3>
      <div class="altcontent">
      	<form id="tagform" enctype="multipart/form-data" method="POST" action="/torrent/{{torrent.id}}/tags">
		  <div style="margin-top: 20px;">
		    <ul id="taglist"></ul>
		  </div>
		  <br/>
		  <div class="button">
		    <input type="submit" value="Save Changes" />
			<input type="button" onClick="document.location='/torrent'" value="Cancel"/>
		  </div>
		</form>
      </div>
   </div>
   {% endif %}
   {% if edit and torrent.effective_rights.w and forms.permissions %}
   <div id="permissions" class="ui-widget-content ui-corner-all altitem">
	<h3 class="altheader">Permissions</h3>
	<div class="altcontent">
		<div>
			<table>
			{% for ace in acl %}
			   <tr>
			      <td>{{ace|explainace}}</td>
			      <td><a href="/torrent/{{torrent.id}}/ace/remove/{{ace|urlencode}}"><span class="ui-icon ui-icon-trash"></span></a></td>
			   </tr>
			{% endfor %}
			</table>
		</div>

		<br/>
		<form id="aclform" class="cmxform" enctype="multipart/form-data" method="post" action="/torrent/{{torrent.id}}/ace">
		  <fieldset class="ui-widget-content ui-corner-all infopanel">
		      <legend>Add Permission</legend>
		      <ol>
		      {% for field in forms.permissions %}
		      		{% if field.is_hidden %}
		      		{{ field }}
		      		{% else %}
		        	<li><label for="id_{{ field.html_name }}">{{ field.label }}
		        		{% if field.field.required %}<em>*</em>{% endif %}</label>
		        		{{ field }}
		        		{% if field.errors %}<em>{{field.errors}}</em>{% endif %}
		        	</li>
		        	{% endif %}
		      {% endfor %}
		      </ol>
		  </fieldset>

		  <br/>
		  <div class="button">
		    <input type="submit" value="Add Permission" />
		    <input type="button" onClick="document.location='/torrent'" value="Cancel"/>
		  </div>
		</form>
	</div>
   </div>
   {% endif %}
</div>
{% endblock %}