{% extends "base.html" %}
{% load explainace %}
{% load datehumanize %}
{% load metainfo %}
{% load userdisplay %}
{% block title %}Lobber: Modify Torrent{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
	$("#id_subject").autocomplete({
			source: "/user/ace_subjects",
			minLength: 1,
			focus: function(event, ui) {
				$('#id_subject').val(ui.item.label);
				return false;
			},
			select: function(event, ui) {
				$('#id_subject').val(ui.item.label);
				$('#id_entitlement').val(ui.item.value);
				return false;
			}
	});
	$('#settings').tabs({
		cookie: { expires: 1 }
	});
	files = $('#files')
	if (!files.empty()) {
		files.tinyscrollbar();
	}
	$.getJSON('/torrent/scrape/{{torrent.id}}.json',function(data) {
	   $('#scrape').text('seeders: '+data['downloaded']+' leechers: '+data['incomplete']);
	});
	$.getJSON('/torrent/tags.json',function(data) {
	   $('#taglist').tagit({
	      availableTags: data,
	      existingTags: [{% for t in tags %}'{{t}}',{% endfor%}],
	      namePrefix: 'tags'
	   });
	}); 
	$("#remove-torrent-dialog").dialog({
			autoOpen: false,
			resizable: false,
			height: 160,
			modal: true,
			buttons: {
				'Remove torrent': function() {
					$.getJSON($("#remove-torrent-dialog form").attr('action'));
					$(this).dialog('close');
				},
				'Cancel': function() {
					$(this).dialog('close');
				}
			}
	});
});
function removeit(id) {
   $('#remove-torrent-dialog form').attr('action','/torrent/remove/'+id);
   $('#remove-torrent-dialog').dialog('open');
}
</script>
{% endblock %}
{% block main %}
{% if edit %}
<div id="remove-torrent-dialog" class="modal-dialog" title="Really remove this torrent?">
    <form action="">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
			This torrent will be permanently deleted and cannot be recovered. Are you sure?</p>
	</form>
</div>
{% endif %}

<h1>{{torrent.name}} - created {{torrent.creation_date|datehumanize}}</h1>
<ul class="ilist">
   <li class="button"><a href="/torrent/{{torrent.id}}.torrent{{lkey}}">Download</a></li>
   {% if edit %}
   {% if torrent.effective_rights.w or torrent.effective_rights.d %}
   <li class="button right"><a class="tip" title="Remove this torrent" href="javascript:void(0);" onClick="removeit('{{torrent.id}}')">Delete</a></li>
   {% endif %}
   {% if torrent.effective_rights.w %}
   <li class="button"><a class="tip" title="Share a link to this data" href="/link/torrent/{{torrent.id}}">Share</a></li>
   {% endif %}
   {% endif %}
</ul>
<br/>

<div id="settings">
   <!-- tab names -->
   <ul>
   	  {% if torrent.effective_rights.r or torrent.effective_rights.w or torrent.effective_rights.d %}
      <li><a href="#info">Information</a></li>
      {% endif %}
      {% if edit and torrent.effective_rights.w %}
      <li><a href="#tags">Tags</a></li>
      {% endif %}
      {% if edit and torrent.effective_rights.w and forms.permissions %}
      <li><a href="#permissions">Permissions</a></li>
      {% endif %}
   </ul>
   <!-- tab contents -->
   {% if torrent.effective_rights.r or torrent.effective_rights.w or torrent.effective_rights.d %}
   <div id="info">
   	    <h4>Download status</h4>
   	  	<p id="scrape"></p>
   	  	<h4>Name</h4>
   	  	<p>{{torrent.meta_info.name}}</p>
   	  	<h4>Creator</h4>
   	  	<p>{{torrent.creator|userdisplay}}</p>
   	  	{% if torrent.description %}
   	  	<h4>Description</h4>
   	  	<p>{{torrent.description}}</p>
   	  	{% endif %}
   	  	{% if torrent.meta_info.files %}
   	  	<h4>Files</h4>
   	  	<div id="files">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div> 
			<div class="viewport">
				<div class="overview">
			   	  	<ul class="clist">
			   	  	{% for f in torrent.meta_info.files %}
			   	  	   <li>{{f|metainfofile}}</li>
			   	  	{% endfor %}
			   	  	</ul>
			   	</div>
			</div>
		</div>
		{% endif %}
   </div>
   {% endif %}
   {% if edit and torrent.effective_rights.w %}
   <div id="tags">
	  	<form id="tagform" enctype="multipart/form-data" method="POST" action="/torrent/{{torrent.id}}/tags">
		  <div style="margin-top: 10px;">
		    <ul id="taglist"></ul>
		  </div>
		  <br/>
		  <div class="button">
		    <input type="submit" value="Save Changes" />
			<input type="button" onClick="document.location='/torrent'" value="Cancel"/>
		  </div>
		</form>
   </div>
   {% endif %}
   {% if edit and torrent.effective_rights.w and forms.permissions %}
   <div id="permissions">
		<div>
			<table>
			{% for ace in acl %}
			   <tr>
			      <td>{{ace|explainace}}</td>
			      <td><a href="/torrent/{{torrent.id}}/ace/remove/{{ace|urlencode}}"><span class="ui-icon ui-icon-trash"></span></a></td>
			   </tr>
			{% endfor %}
			</table>
		</div>
		<br/>
		<form id="aclform" class="cmxform" enctype="multipart/form-data" method="post" action="/torrent/{{torrent.id}}/ace">
		  <fieldset class="ui-widget-content ui-corner-all infopanel">
		      <legend>Add Permission</legend>
		      <ol>
		      {% for field in forms.permissions %}
		      		{% if field.is_hidden %}
		      		{{ field }}
		      		{% else %}
		        	<li><label for="id_{{ field.html_name }}">{{ field.label }}
		        		{% if field.field.required %}<em>*</em>{% endif %}</label>
		        		<div class="fieldinput">{{ field }}</div>
		        		{% if field.errors %}<em>{{field.errors}}</em>{% endif %}
		        	</li>
		        	{% endif %}
		      {% endfor %}
		      </ol>
		  </fieldset>

		  <br/>
		  <div class="button">
		    <input type="submit" value="Add Permission" />
		    <input type="button" onClick="document.location='/torrent'" value="Cancel"/>
		  </div>
		</form>
   </div>
   {% endif %}
</div>
<div style="float: bottom;">
	   <ul class="rlist">
	  	 <li class="button"><a href="/torrent/">Return</a></li>
	   </ul>
   </div>
{% endblock %}