{% extends "base.html" %}
{% block title %}Lobber{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
	$("#id_expires").datepicker({'dateFormat': 'yy-mm-dd', minDate: "+1D"});
    var max = 0;
    $("label").each(function(){
        if ($(this).width() > max)
            max = $(this).width();   
    });
    $("label").width(max);
});
</script>
{% endblock %}
{% block main %}
<h1>Please upload some data</h1>
    <div class="ui-helper-reset ui-widget ui-state-highlight ui-corner-all infopanel">
      <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        When using this form to upload a torrent file (.torrent), the tracker announce URL must be: <br/> <code>{{ announce_url }}</code></p>
    </div>
<form class="cmxform" enctype="multipart/form-data" method="post">
  <fieldset class="ui-widget-content ui-corner-all infopanel">
      <legend>Describe your upload</legend>
      <ol>
      {% for field in form %}
      		{% if field.is_hidden %}
      		{{ field }}
      		{% else %}
        	<li><label for="id_{{ field.html_name }}">{{ field.label }}
        		{% if field.field.required %}<em>*</em>{% endif %}</label>
        		{{ field }}
        		{% if field.errors %}<em>{{field.errors}}</em>{% endif %}
        	</li>
        	{% endif %}
      {% endfor %}
      </ol>
  </fieldset>

  <br/>
  <div class="button">
    <input type="submit" value="Share it!" />
    <input type="button" onClick="document.location='/torrent'" value="Cancel"/>
  </div>
</form>
{% endblock %}
