{% extends "share/base_ui.html" %}
{% block title %}Lobber{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
	$("#id_expires").datepicker({'dateFormat': 'yy-mm-dd', minDate: "+1D"});
	/*
	$.getJSON("/ace/suggest",function (data) {
	    var acl = $("#id_acl");
		$.each(data,function (pos,elt) {
			acl.append($("<option></option>").attr("value",elt[0]).text(elt[1])); 
		});
		acl.multiselect2side({selectedPosition: 'right', moveOptions: false});
	});
	*/
});
</script>
{% endblock %}
{% block main %}
<h1>Please upload a torrent file (.torrent)</h1>

<form enctype="multipart/form-data" method="post" action="/torrent/add/">
  <div class="ui-widget infopanel">
    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
      <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        When creating the torrent file, the tracker announce URL must be: <br/> <code>{{ announce_url }}</p>
    </div>
  </div>

  <div class="ui-widget-content ui-corner-all infopanel" style="margin-top: 20px;">
    <table>
      {% for field in form %}
        <tr>
          {% if field.errors %}
            <td colspan="2">{{ field.errors }}</td>
          {% endif %}
        </tr>
        <tr>
          <td>{{ field.label_tag }}</td>
	  <td><div class="ui-widget">{{ field }}</div></td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <br/>
  <div class="button">
    <input type="submit" value="Share it!" />
    <input type="button" onClick="document.location='/torrent'" value="Cancel"/>
  </div>
</form>
{% endblock %}
