{% extends "share/base_ui.html" %}

{% block title %}Lobber{% endblock %}

{% block main %}
<table>
   <tr><td>Name</td><td>{{user.get_full_name}}</td><tr>
   <tr><td>Email</td><td>{{user.email}}</td><tr>
</table>
{% if torrents %}
  <ul>
    {% for t in torrents %}
      <li><a href="../torrent/{{ t.data.url }}">{{ t.name }}</a> ({{t.creation}})</li>
    {% endfor %}
  </ul>
{% else %}
  <p>You haven't uploaded any files yet.
    Please <a href="/nordushare/upload">share something</a>.</p>
{% endif %}
{% endblock %}
