{% extends "share/base_ui.html" %}

{% block title %}Lobber{% endblock %}

{% block main %}
<div class="ui-widget-header ui-corner-all infopanel">
   <h1>{{user.get_full_name}}</h1>
</div>
<div class="ui-widget-content ui-corner-all infopanel">
   <table>
      <tr><td>Email</td><td><div id="email">{{user.email}}</div></td><tr>
      <tr><td>Username</td><td>{{user.username}}</td></tr>
   </table>
   <p>
      <div id="gravatar"></div>
   </p>
   <p>
      This is your <a href="http://www.gravatar.com">Gravatar</a>!
   </p>
</div>

{% if torrents %}
  <ul>
    {% for t in torrents %}
      <li><a href="../torrent/{{ t.data.url }}">{{ t.name }}</a> ({{t.creation}})</li>
    {% endfor %}
  </ul>
{% else %}
  <p>You haven't uploaded any files yet.
    Please <a href="/nordushare/upload">share something</a>.</p>
{% endif %}
{% endblock %}
