{% extends "base.html" %}

{% block title %}Lobber{% endblock %}
{% block main %}

<h1>A shareable link to {% if tag %}<a href="/torrent/tag/{{tag}}">torrents tagged with {{tag}}</a>{% endif %}{% if torrent %}<a href="/torrent/{{torrent.id}}">{{torrent.name}}</a>{% endif %}</h1>

<div class="infopanel ui-corner-all ui-widget-content">
<p>Give this link to anyone who should have access to {% if tag %}<a href="/torrent/tag/{{tag}}">torrents tagged with {{tag}}</a>{% endif %}{% if torrent %}<a href="/torrent/{{t.id}}">{{torrent.name}}</a>{% endif %}:</p>

<p><a href="{{link}}"><span class="ui-icon ui-icon-extlink"></span>{{link}}<a></p>

{%if torrent %}
<p>You can also <a href="/link/{{pid}}/torrent/{{torrent.id}}/message"><span class="ui-icon ui-icon-mail-closed"></span>email the link</a>.</p>
{% endif %}
</div>

{% endblock %}