{% extends "form.html" %}
{% block formtitle %}Create Application Key{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
    $('#id_expires').datepicker({'dateFormat': 'yy-mm-dd', minDate: "+1D"});
    $('#wizard').formwizard({
            validationEnabled: true,
            focusFirstInput: true,
            textSubmit: "Create Key",
            validationOptions: {
                rules: {
                    entitlement: 'required'
                }
            }
     });
});
</script>
{% endblock %}
{% block beforeform %}
<div class="ui-state-highlight ui-corner-all" style="margin-bottom: 5px;">
<p class="infopanel">
<span class="ui-icon ui-icon-info"></span>
Here you can create an application key. Application keys are used to allow applications rights in Lobber.
In order to setup and connect a <a class="tip" title="About Lobber Storage Nodes" href="http://lobber.se/documentation#storage-node">storage node</a> to
Lobber you need to create an application key for each instance.
</p></div>
{% endblock %}
