{% extends "base.html" %}
{% block title %}Application Keys{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
	$("#keys").accordion({ 
   			header: "h3", 
   			event: "click", 
   			collapsible: true,
   			active: false
   	});
});
</script>
{% endblock %}
{% block main %}
{% if keys %}
<div id="keys">
  <h1>Application Keys</h1>
  {% for profile in keys %}
    <div class="key" id="{{ profile.get_username }}">
      <h3><a href="#{{ profile.get_username }}">{{ profile.get_username }}</a></h3>
      <div>
      	<div class="navlist">
         <ul>
            <li style="float: right;">
               <a class="tip" title="Remove this key" href="key/{{profile.get_username}}/remove">
                  <span class="ui-icon ui-icon-trash"></span>
               </a>
            </li>
         </ul>
        </div>
        <div class="description">
			<table>
			  <tr><td>Lobber Key</td><td>{{ profile.get_username}}</td></tr>
		      <tr><td>Member of</td><td>{% for group in profile.get_groups %} {% if not forloop.last%}{{ group.name }}, {% else %}{{ group.name }}{% endif %}{% endfor %}</td></tr>
			  {% if profile.urlfilter %}
			  <tr><td>URL filter</td><td>{{ profile.urlfilter }}</td></tr>
			  {% endif %}
			  {% if profile.tagconstraints %}
			  <tr><td>Tag constraints</td><td>{{ profile.tagconstraints }}</td></tr>
			  {% endif %}
			  <tr><td>Expiration date</td><td>{{ profile.expiration_date }}</td></tr>
			</table>
		</div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <p>You don't have any application keys.</p>
{% endif %}
  <div class="navlist">
    <br />
    <br />
    <ul class="ilist">
      <li class="button"><a class="tip" title="Create new application key" href="/user/key/add">Create Application Key</a></li>
    </ul>
  </div>
{% endblock %}