<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
	<head>
	    {% if refresh %}
	    <!-- META HTTP-EQUIV="Refresh" CONTENT="{{refresh}}"/ -->
	    {% endif %}
	    <link type="text/css" href="/site-media/css/style.css" rel="stylesheet" />
	    <link type="text/css" href="/site-media/css/jquery.ui.autocomplete.custom.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/lobberui/jquery-ui-1.8.6.custom.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.jnotify.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.tooltip.css" rel="stylesheet" />
        <script type="text/javascript" src="/site-media/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery-ui-1.8.6.custom.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.tooltip.pack.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.gravatar.js"></script>
        <script type="text/javascript" src="/site-media/js/md5.js"></script>
        <script type="text/javascript" src="/site-media/js/tag-it.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.jnotify.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.timers.js"></script>
        <script type="text/javascript" src="/site-media/js/deployJava.js"></script> <!-- http://java.com/js/deployJava.js -->
        <script type="text/javascript" src="/site-media/js/jquery.webstart.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.validate.min.js"></script>
        <!-- 
        <script src="{{orbited_prefix}}/static/Orbited.js"></script>
        <script>
           TCPSocket = Orbited.TCPSocket
           document.domain = document.domain;
        </script>
        <script src="{{orbited_prefix}}/static/protocols/stomp/stomp.js"></script>
        <script type="text/javascript">
           debug = {% if debug %}1{% else %}0{% endif %}
           stomp_host = '{{stomp_host}}'
           stomp_port = {{stomp_port}}
        </script>
        -->
        <script type="text/javascript" src="/site-media/js/lobber-common.js"></script>
        {% if error %}
		<script type="text/javascript">
		$(function() {
		   _e('{{error}}');
		});
		</script>
		{% endif %}
		<script type="text/javascript" charset="utf-8">
		  var is_ssl = ("https:" == document.location.protocol);
		  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
		  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript" charset="utf-8">
		  var feedback_widget_options = {};
		
		  feedback_widget_options.display = "overlay";  
		  feedback_widget_options.company = "sunet";
		  feedback_widget_options.placement = "right";
		  feedback_widget_options.color = "#222";
		  feedback_widget_options.style = "idea";
		  feedback_widget_options.product = "sunet_lobber";
		  		  
		  feedback_widget_options.limit = "3";
		  
		  GSFN.feedback_widget.prototype.local_base_url = "http://community.sunet.se";
		  GSFN.feedback_widget.prototype.local_ssl_base_url = "http://community.sunet.se";

		  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		</script>
		<script type="text/javascript">
		$(function() {
		   $("#searchbox").autocomplete({
		   	  source: '/torrent/search.json',
		   	  minLength: 1,
		   	  focus: function(event, ui) {
				$('#searchbox').val(ui.item.label);
				return false;
			  },
			  select: function(event, ui) {
				$('#searchbox').val(ui.item.label);
				document.location = ui.item.link;
				return false;
			  }
		   });
		});
		</script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block js %}{% endblock %}
	</head>
	<body>
		<div id="notification"></div>
		<div id="container">
			<div id="header">
			   {% if user.is_authenticated %}
			   <div class="ui-widget ui-corner-all navlist toolbar">
			      <ul class="rlist">
			         <li class="button" style="margin-right: 50px"><a class="tip" title="Logout" id="logout" href="/auth/logout/">Logout</a></li>
			         <li class="button"><a class="tip" title="{{ user.get_full_name }}" href="/user">Profile</a></li>
			         <li style="margin-right: 50px">
			            <form method="POST" action="/torrent/search">
			               <input type="text" id="searchbox" name="q" style="margin-right: 5px;"></input><input type="submit" value="Search"/>
			            </form>
			         </li>
			         <li class="button"><a class="tip" title="Data" href="/torrent">Downloads</a></li>
					 <li class="button"><a class="tip" title="Keys" href="/key">Keys</a></li>
			      </ul>
			   </div>
			   {% endif %}
			   <div class="clear"></div>
			</div>
			<div id="content">
				<div id="main">
				   	{% block main %}{% endblock %}
				</div>
				<div id="rhs">
				    <div style="padding: 5px;">
						{% for tag in tagcloud %}
						<font class="tag" size="{{tag.font_size}}"><a href="/torrent/tag/{{tag.name}}.html">{{tag.name}}</a></font>  
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div id="footer">
			   <!-- ul>
			     <li><a href="#about">About Lobber</a></li>
			     <li><a href="#about">Terms Of Use</a></li>
			     <li><a href="#about">System Status</a></li>
			   </ul -->
			</div>
		</div>
	</body>
</html>
