{% extends "base.html" %}
{% block title %}Something went horribly wrong...{% endblock %}
{% block main %}
<h1>Sorry, something went horribly wrong...</h1>
<pre style="font: 8px/4px monospace;">                                                                `     `
                                                                +:   ,'`
                                                                :+;`:+;`
                                                                `':';;,
                          `                                    ,;+:..'':`
                         .;`  :`                              ,+;::...,'+,
                         .+:`;+`                              `.,,':'';:.`
                         .:'';;`                                  :;:``
                         .;,,:':.                ., ..            .#,
                         .'..;'+'`               ,+,+,            `;`   ``
                        ,+;'.'.``           `    .''':`            ` ,. ,`
                        ::,;:'`      ,`     ,`   :';++;`    .`      `:,,,
                           `+;`     ``,     ,.  .''';``   ,`:`      ;;.'`
                            ..     .;.;     .;.  ``;:    .;.;      .#;;:
                                    ;:;`.,..`,:    ``    :;.,      +#,'``   ``  `
                                    ;;:,;+`: .;`         ';;``    ,#;'.::. `:, :`
                            `,      ,+,;;+.; `.`        `+:',;,`  ++:;:;'`,;;.:.
                             :`     `#:':+::;'';,`      .#,;;+.: ,#;+,+#,,'+,::
                           `,.; `,`, '+;,';';;;;'+.  `` ;+;,++.: ++;:+#',##':'`
                           `;:;.:+.; ,''''':::::::'.:'+++'':#;;`,#:':##,##+:'`.
                            ,',',''::'':::::::::::;;;;::;+;'#,;`+'',##:+##,+.;:.
                            `''::'#,;':::,,,.`.:::::::::::+#+:,:#:;'#';##:+,'''`.
                   ``    .   .#:':#++::,.`` ` `,:::,,,::::;#:;:''':#+:##;',+#+`:.
                    :.  ,.:  `;+'''''::` ``  ```,,`````,:::'';;;''+#:##;',+##,'.
                   `.;.,';,, .';::::::;:,,,,..``` `````.::::::::::+;'#';:'##,+,
                   ,;,;,;+:;,':::::::,+::::;;''+';:.````,:::::::::;+#+;;'##:+,
                    :':;,'#;+:::::,``;';;;;;;:::,,:'':```,,.``,::::+#;;;##:+.
                    `'+;':+#;::::.` .+;''''''''''';;:;+,````  `,:::''+;#+:+.
               ,`  `,,+#;':+::::.```';'''''''''''''''';+.     ``,::;#+#+:'`
               `:, :+;,##;'+:::,```.+''''''''''''''''''+;``  ```,::;+#+:'`
               `.:;.;+':+#'+:::.`  :#++''''''''''''''''';  `   `.::+#+;;`
               ,;;,',;#+:+#+;::.   `:'#''''''''''''''''+:` `  ``.:'+#';`      ,,
                .'+:;;:##;+++::.  ```''''''''###+''''''#.`   ` `,'+''+.     .';.,,
                 `:#+:':+#;++;:,````.+''''''#;.:#'''''+'`  ` `.,:;;;''+:` `;#':'.
                   .'#;';++;::::,.``''''''''+`.+;''''++.   ``.:::::::::'',++;';`
                     :#++'::::,.`` .+''''''#''':''''+#,``  ` `,,::::::::;#';',:,
                      `+':::,.`` ``;'''''''#;,:''''#+,```  `   ````.,::::;+:'#+:
                      `+:::,``````.+''''''';;''''+#'. ````    `  ````,::::+##'.,.
                      :':::.`    `;''''''''''''##',` ` `           ```,:::'':';`
                 `::` ;;::,``   `.+'''''''''''''+;``  `   `         ` .:::;+:`
                 ;;,;;';::,` `   ;'''''''+'''''':;'```            `   `,:::;   :`  `,
             ,,``:+#+;+;::.`` ``.+''''''#+###'''''+.`  `     ` `` ` ` `.:::'   ;'.`':
              .:;;:;+#+;::,``;,`;''''''+;..,'+''''+.                  `.:::'   `';';,
              ;;::;;;;+;::,`,+'++''''''#```,+'''''+`  `      `   ``   `.::;;  ,;'..;;:`
              `,;+#+';'+::,.+;;,:'''''++'+';,''''+'    ``    `    `   `.,:', `';;;,:;+;`
                 ``,;+++;::;''''''''''':,,:;''''+#'';:,`          `   `.:;'`  ```;',.``
                      .;';:+;''''''''''''''''''+#',,::;':``  ` `` ` ```,;+.      ;;`
                     `;:::;+''''''''''''''''''++''''''';'+.`        ``,:'+',`    ,,
             ``      ;:::,`+#+'''''''''''''++#+'''''''''''+. `     ``,::::;+'.
             .,:;;;;':::,```:'##++'''''+++#++'+#+++#+''''''+```   ``,:::::::'+`
             ,,,::::'::,.` ` `.:'++####++'''+#':.``.'+'''''+,      ``..,:::::';
             ,::;;'+;::,`` ```````.,:':''''++;```  ``''''''';       `````,::::+;::,.`
             ``````;:::,`   `  `````',''''+#:`     ` :+'''''' `  `    `` `.:::''';:,`
                   ':::,` `      ` ;:'''''#:``     ``';'''''' `        ```.,::;;,.``
              ,` .`:;::,``      ```';''''+'``` ``  `:;;''''+; `       `   `,::;':::,
              ;;,+`,+:::.`       `,;'''''+,` `   ``;;:'''''#,`           ``,::',
              ;';'.`';::,.`  ` `  ;;'''''+:`   `.;'::'''''++```          ``,::'.
             `;''++,.+;:::.``` `` ''''''''+'::;';,:'''''''#:``   `    `  ``,::'`
             ;+++,`` ,+;:::,.`` ` ;'''''''';::,,;''''''''#;````          ``,:'',`
             ``.+.    .+;:,.``   `:+''''''''''''''''''++##;:.``       `` `.;+''##;,`
                .`    :':,``    ` `+'''''''''''''''+#';::::;'+,``    `````,;';';:,,`
                     .+::.`   `  ``,#''''''''''''++;:;''''''';''` ` `:`.::::'+;,:;:.
                    `+::,``      ```,#+'''''''''#;:'''+####+'''+;`` :#,.:::::++;`  `
                    .+::,```       ` .+#+'''''++:'''+#',..:+''''#. ,'',`.,:::;'.
                   ,''::,``  `     ````,;+#####;'''++,```  .#'''+:.+:+:``.,:::+.
                 ,;,+;::,`` `   `  ` `` ``...'''''++.```  `.#'''+;+:'+; ``.:::+`
                `.:++':::.`  ` `      `` ````+''''+,` ``  .+''''+#:;'''  `.,::'
                 :'''+:::,``  ` `    ```.`  .+''''+'````,;':''''#;;''''   .,:;,
                 `,:;+;:::,.``.`      ` '+:`.+'''''''''';:;''''#;:''''+` `.::'`
                 .;:'++;:::::,.```    ``+:+'.+'''''';::;;'''''+','''''+` `,:+'.
               `::,'+.:+';;':,````     ,:;''+#+'''''''''''''+#+,''''''+``,:';+#:
               ,`,;:` :+#'+;::.```  ` `',''''+#+''''''''''++##,'''''''+.,::;+;;+:`
                 .. `;##;:'::::.`     `+,''''''##++'''+++#+'#,;'''''''+::::+;:',:,
                   `;##:.'+:::::.``` `.;:'''''''+##+#+++;:.'::''''''''+:,;++',.'.`
                  `;+#,,';+':::::,.```;,''''''''''++,`````;;,'''''''''+''++.;,  ,,
                  ,''`,':##''::::::::,+,'''''''''''++:```:'.''''''''''+#'+#'``   `
                 `,,`,':##;'++;:::::::':'''''''''''''++.,+.''''''''''''';;++,
                    :':##:+'#+'++''+:;:;'''''''''''''''#+.;''''''''''''#:;:;;.
                   :;:##:+;##:##;'#''+,''''''''''''''''':;'''''''''''''#;,;,,.
                  :;,##:':##;'#;+++`++,'''''''''''''''''''''''#+'''''''#;.`:.
                 ,:.##;;:+#+:#+''#,:';;''''''''''''''''''''''+#''''''''#.   ,.
                .,.#';:;'##,##:'++`';,'''''''++''''''''''''''#+:'''''''#,    `
                 `';;,':##,+#;';#,,;+,'''''''#+#''''''''''''#'#:'''''''+,
                 `,:.',##;;#+:;++`':':'''''''#:.++'''''''''++;+:'''''''+:
                  ``+.++'.##,':#,`;':;''''''++. `;#+'''''''#;';:'''''''+;
                   '.'++.'+'::+' ,.+,'''''''+'`   ;'+'''''#'.,+:'''''''+'
                  :,:';,,+',':#, ..+,'''''''#;    :,;++''+++,`+:'''''''++
                 ,,.;:``';,;,+'   ,';''''''++,    ;:.:+#+#;+; ;:'''++###+`
                `, .:` `.:,;;#.   `;+###+++++`    ;:,..;#'':;`;+##++'';:,`
                    `    `'.+'      :,;;;'++;     ;,,```.,'.;..,;:,.``
                         ,::'. ``   :`:.  ```     ;:,     :..`,`````.
                         ;.;:  ,;  `:``           :,,     `,  ''```+,
                        ,.,:`  ,+,`''`            .,,      .  ,'':''.
                        , `.   ,;+';'             .,.         `',;,'.
                               .'';'+:.           `.        `';:,..:;',
                               ,';;++#'`                    .;''+,;''':`
                              :+'+;+.``                         ;;:.``
                             `:;,;'+`                           :+.
                                 `+'                            .'`
                                  ..                             `
</pre>
<p>
  Please copy this error message and send it to your friendly Lobber admin:<br />
  <br />
  <b>
  Dear Lobber admin,<br />
  I got
  {% if exception %}
    "{{ exception }}"
  {% else %}
    "{{ message }}"
  {% endif %}
  when visiting {{ url }}.<br />
  Your friend,<br />
  [Sign name]
  </b>
</p>

{% endblock %}
